$main-color: #724bf4;
$black-color: #212327;
$dark-color: #1b1642;
$white-color: #ffffff;
$grey-color: #4b4b4b;
$bg-color: #f7fbfe;
$red-color: #f9655b;
$green-color: #2cd4a2;
$bg-gradient: linear-gradient(-48deg, #287dfd 5%, #724bf4 95%);
$box-shadow: 0 0 6px rgba(27, 22, 66, 0.1), 0 14px 24px rgba(27, 22, 66, 0.06);

$beige-color: #f2e4d7;
$dark-main-color: #5d568c;
$light-main-color: #9a80f7;

$sidebar-width: 250px;
